# Development files
.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**

# Build configuration
tsconfig.json
.eslintrc.json
**/*.map

# Source files
**/*.ts

# Test files
**/test/**

# Coverage
coverage/**
.nyc_output/**

# Documentation
vsc-extension-quickstart.md

# Misc
.DS_Store
*.vsix
